@model Capstone.WebUI.Domain.Entities.Form

@{
    ViewBag.Title = "Edit Calculator Form";
}

<link href="~/Content/calculator.css" rel="stylesheet" />

<h2>Partnership Calculator & Check Request</h2>
<h3>Editing Form for: @Model.DateOfPartnership</h3>
<br />

@using (Html.BeginForm("Edit", "Form")) {

@Html.HiddenFor(x => x.FormId); 

<table>
        <tr class="tableHeadings">
            <th colspan="5">Organization Information</th>
        </tr>
        <tr>
            <td>Name to appear on the check:</td>
            <td>
                @Html.EditorFor(x => x.NameOnCheck)  
                <img src="~/Images/alert_button.png" width="20" height="20" class="warning" />
                <div>
                    <b>Do NOT abbreviate Partnership Name</b><br />
                    The name needs to match the name on the Vendor Add/Change Request Form.
                </div>
            </td>
            <td>Is this a New Partner?</td>
            <td>
                @Html.EditorFor(x => x.NewPartner)
                <img src="~/Images/alert_button.png" width="20" height="20" class="warning" />
                <div>
                    <b>If new partnership</b><br />
                    Remember to submit a W-9 form and add a vendor form!
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>Purpose of the Partnership:</td>
            <td>@Html.EditorFor(x => x.Purpose)</td>
            <td colspan="3" rowspan="3"></td>
        </tr>
        <tr>
            <td>Contact Name:</td>
            <td>@Html.EditorFor(x => x.ContactName)</td>

        </tr>
        <tr>
            <td>Organization Mailing Address:</td>
            <td>@Html.EditorFor(x => x.OrganizationMailingAddress)</td>
        </tr>
        <tr>
            <td>City, State:</td>
            <td>@Html.EditorFor(x => x.OrganizationMailingCity)@Html.EditorFor(x => x.OrganizationMailingState)</td>
            <td>Restaurant Hosting Partnership:</td>
            <td>@Html.EditorFor(x => x.HostingRestaurant)</td>
        </tr>
        <tr>
            <td>Zip:</td>
            <td>@Html.EditorFor(x => x.OrganizationMailingZip)</td>
        </tr>
        <tr>
            <td>Organization Phone Number:</td>
            <td>@Html.EditorFor(x => x.OrganizationPhone)</td>
        </tr>
        <tr>
            <td>Federal Tax ID Number:</td>
            <td>@Html.EditorFor(x => x.FederalTaxID)</td>
        </tr>
    </table>
    <br />

    <table>
        <tr>
            <td>Day of week of Partnership:</td>
            <td>@Html.EditorFor(x => x.WeekDayOfPartnership)</td>
            <td>Date of Partnership:</td>
            <td>@Html.EditorFor(x => x.DateOfPartnership)</td>
        </tr>
    </table>
    <br />

    <h3>1. Actual Sales Information from Prior Year - 3 Weeks</h3>
    <table>
        <tr class="tableHeadings">
            <th>
            </th>
            <th>Prior Year</th>
            <td>@Html.EditorFor(x => x.Week1Date)</td>
            <th>Prior Year</th>
            <td>@Html.EditorFor(x => x.Week2Date)</td>
            <th>Prior Year</th>
            <td>@Html.EditorFor(x => x.Week3Date)</td>
            <th colspan="2">Average</th>
            <th>Last week This Year</th>
        </tr>
        <tr>
            <td>Hours of Partnership</td>
            <td>Adj Sales</td>
            <td>
                G.C.
                <img src="~/Images/info_button.png" width="20" height="20" class="info" />
                <div>
                    <b>Use iControls or PosiTouch to determine:</b><br />
                    Guest count for prior year.
                </div>
            </td>
            <td>Adj Sales</td>
            <td>G.C.</td>
            <td>Adj Sales</td>
            <td>G.C.</td>
            <td>Sales</td>
            <td>G.C.</td>
            <td>
                Average Check
                <img src="~/Images/info_button.png" width="20" height="20" class="info" />
                <div>
                    <b>Use iControls or PosiTouch to determine:</b><br />
                    Average check from prior week.
                </div>
            </td>
        </tr>
        <tr>
            <td>4-5</td>
            <td>@Html.DisplayFor(model => model.Week1_45_AdjustedSales)</td>
            <td>@Html.EditorFor(x => x.Week1_45_GuestCount)</td>
            <td>@Html.DisplayFor(model => model.Week2_45_AdjustedSales)</td>
            <td>@Html.EditorFor(x => x.Week2_45_GuestCount)</td>
            <td>@Html.DisplayFor(model => model.Week3_45_AdjustedSales)</td>
            <td>@Html.EditorFor(x => x.Week3_45_GuestCount)</td>
            <td>@Html.DisplayFor(model => model.Average_45_Sales)</td>
            <td>@Html.DisplayFor(model => model.Average_45_GuestCount)</td>
            <td>@Html.EditorFor(x => x.LastWeekAverageCheck_45)</td>
        </tr>
        <tr>
            <td>5-6</td>
            <td>@Html.DisplayFor(model => model.Week1_56_AdjustedSales)</td>
            <td>@Html.EditorFor(x => x.Week1_56_GuestCount)</td>
            <td>@Html.DisplayFor(model => model.Week2_56_AdjustedSales)</td>
            <td>@Html.EditorFor(x => x.Week2_56_GuestCount)</td>
            <td>@Html.DisplayFor(model => model.Week3_56_AdjustedSales)</td>
            <td>@Html.EditorFor(x => x.Week3_56_GuestCount)</td>
            <td>@Html.DisplayFor(model => model.Average_56_Sales)</td>
            <td>@Html.DisplayFor(model => model.Average_56_GuestCount)</td>
            <td>@Html.EditorFor(x => x.LastWeekAverageCheck_56)</td>
        </tr>
        <tr>
            <td>6-7</td>
            <td>@Html.DisplayFor(model => model.Week1_67_AdjustedSales)</td>
            <td>@Html.EditorFor(x => x.Week1_67_GuestCount)</td>
            <td>@Html.DisplayFor(model => model.Week2_67_AdjustedSales)</td>
            <td>@Html.EditorFor(x => x.Week2_67_GuestCount)</td>
            <td>@Html.DisplayFor(model => model.Week3_67_AdjustedSales)</td>
            <td>@Html.EditorFor(x => x.Week3_67_GuestCount)</td>
            <td>@Html.DisplayFor(model => model.Average_67_Sales)</td>
            <td>@Html.DisplayFor(model => model.Average_67_GuestCount)</td>
            <td>@Html.EditorFor(x => x.LastWeekAverageCheck_67)</td>
        </tr>
        <tr>
            <td>7-8</td>
            <td>@Html.DisplayFor(model => model.Week1_78_AdjustedSales)</td>
            <td>@Html.EditorFor(x => x.Week1_78_GuestCount)</td>
            <td>@Html.DisplayFor(model => model.Week2_78_AdjustedSales)</td>
            <td>@Html.EditorFor(x => x.Week2_78_GuestCount)</td>
            <td>@Html.DisplayFor(model => model.Week3_78_AdjustedSales)</td>
            <td>@Html.EditorFor(x => x.Week3_78_GuestCount)</td>
            <td>@Html.DisplayFor(model => model.Average_78_Sales)</td>
            <td>@Html.DisplayFor(model => model.Average_78_GuestCount)</td>
            <td>@Html.EditorFor(x => x.LastWeekAverageCheck_78)</td>
        </tr>
        <tr>
            <td>8-9</td>
            <td>@Html.DisplayFor(model => model.Week1_89_AdjustedSales)</td>
            <td>@Html.EditorFor(x => x.Week1_89_GuestCount)</td>
            <td>@Html.DisplayFor(model => model.Week2_89_AdjustedSales)</td>
            <td>@Html.EditorFor(x => x.Week2_89_GuestCount)</td>
            <td>@Html.DisplayFor(model => model.Week3_89_AdjustedSales)</td>
            <td>@Html.EditorFor(x => x.Week3_89_GuestCount)</td>
            <td>@Html.DisplayFor(model => model.Average_89_Sales)</td>
            <td>@Html.DisplayFor(model => model.Average_89_GuestCount)</td>
            <td>@Html.EditorFor(x => x.LastWeekAverageCheck_89)</td>
        </tr>
        <tr>
                <th>
                    Total
                </th>

                <td>
                    @Html.DisplayFor(model => model.Week1_AdjustedSalesTotal)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Week1_GuestCountTotal)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Week2_AdjustedSalesTotal)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Week2_GuestCountTotal)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Week3_AdjustedSalesTotal)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Week3_GuestCountTotal)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Average_SalesTotal)
                </td>

                <td>
                    @Html.DisplayFor(model => model.Average_GuestCountTotal)
                </td>

                <td></td>
            </tr>
    </table>
    <br />

    <h3>2. Scenario Donation Based on Projections</h3>
    <table>
        <tr class="tableHeadings">
            <th colspan="2">Scenario 1</th>
            <th colspan="2">Scenario 2</th>
        </tr>
        <tr>
            <td>Organization intends to invite</td>
            <td>@Html.EditorFor(x => x.Scenario1_GuestCountInvited)</td>
            <td>Organization intends to invite</td>
            <td>@Html.EditorFor(x => x.Scenario2_GuestCountInvited)</td>
        </tr>
        <tr>
            <td>Estimated Partnership Guests</td>
            <td>@Html.DisplayFor(model => model.Scenario2_EstimatedGuestCount)</td>
            <td>Estimated Partnership Guests</td>
            <td>@Html.DisplayFor(model => model.Scenario2_EstimatedGuestCount)</td>
        </tr>
        <tr>
            <td>3 Week Average Guest Count</td>
            <td>@Html.DisplayFor(model => model.Scenario1_ThreeWeekAverageGuestCount)</td>
            <td>3 Week Average Guest Count</td>
            <td>@Html.DisplayFor(model => model.Scenario2_ThreeWeekAverageGuestCount)</td>
        </tr>
        <tr>
            <td>Targeted Guest Count</td>
            <td>@Html.DisplayFor(model => model.Scenario1_TargetedGuestCount)</td>
            <td>Targeted Guest Count</td>
            <td>@Html.DisplayFor(model => model.Scenario2_TargetedGuestCount)</td>
        </tr>
        <tr>
            <td>Estimated Donation</td>
            <td>@Html.DisplayFor(model => model.Scenario1_EstimatedDonation)</td>
            <td>Estimated Donation</td>
            <td>@Html.DisplayFor(model => model.Scenario2_EstimatedDonation)</td>
        </tr>
    </table>
    <br />

    <h3>3. Day of Partnership - Actual Sales & Guest Count Results Per PosiTouch</h3>
    <table>
        <tr class="tableHeadings">
            <th></th>
            <th colspan="3"><center>Partnership Date @Html.TextBox("date")</center></th>
            <th></th>
        </tr>
        <tr>
            <td>Hours of Partnership</td>
            <td>
                Sales
                <img src="~/Images/info_button.png" width="20" height="20" class="info" />
                <div>
                    <b>Use iControls or PosiTouch to determine:</b><br />
                    Sales for Partnership hours.
                </div>
            </td>
            <td>
                G.C.
                <img src="~/Images/info_button.png" width="20" height="20" class="info" />
                <div>
                    <b>Use iControls or PosiTouch to determine:</b><br />
                    Guest count for Partnership hours.
                </div>
            </td>
            <td>Avg. Chk</td>
            <td>Notes from Partnership</td>

        </tr>
        <tr>
            <td>4-5</td>
            <td>@Html.EditorFor(x => x.ActualSales_45)</td>
            <td>@Html.EditorFor(x => x.ActualGuestCount_45)</td>
            <td>@Html.DisplayFor(model => model.ActualAverageCheck_45)</td>
            <td rowspan="8">@Html.EditorFor(x => x.Notes)</td>
        </tr>
        <tr>
            <td>5-6</td>
            <td>@Html.EditorFor(x => x.ActualSales_56)</td>
            <td>@Html.EditorFor(x => x.ActualGuestCount_56)</td>
            <td>@Html.DisplayFor(model => model.ActualAverageCheck_56)</td>
        </tr>
        <tr>
            <td>6-7</td>
            <td>@Html.EditorFor(x => x.ActualSales_67)</td>
            <td>@Html.EditorFor(x => x.ActualGuestCount_67)</td>
            <td>@Html.DisplayFor(model => model.ActualAverageCheck_67)</td>
        </tr>
        <tr>
            <td>7-8</td>
            <td>@Html.EditorFor(x => x.ActualSales_78)</td>
            <td>@Html.EditorFor(x => x.ActualGuestCount_78)</td>
            <td>@Html.DisplayFor(model => model.ActualAverageCheck_78)</td>
        </tr>
        <tr>
            <td>8-9</td>
            <td>@Html.EditorFor(x => x.ActualSales_89)</td>
            <td>@Html.EditorFor(x => x.ActualGuestCount_89)</td>
            <td>@Html.DisplayFor(model => model.ActualAverageCheck_89)</td>
        </tr>
         <tr>
                <th>Totals</th>
                <td>@Html.DisplayFor(model => model.ActualSalesTotal)</td>
                <td>@Html.DisplayFor(model => model.ActualGuestCountTotal)</td>
                <td>@Html.DisplayFor(model => model.ActualAverageCheckTotal)</td>
            </tr>
        <tr>
                <td>
                    10% Donation
                </td>
                <td>
                    @Html.DisplayFor(model => model.TenPercentDonation)
                </td>
                <td colspan="2"></td>
            </tr>

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PosiDonations)
                    <img src="~/Images/info_button.png" width="20" height="20" class="info" />
                    <div>
                        <b>Posi Donations</b><br />
                        Donations taken on the Posi register.
                    </div>
                    <img src="~/Images/alert_button.png" width="20" height="20" class="warning" />
                    <div>
                        <b>Enter donations received thru register ONLY</b><br />
                        Jar donations need to be entered into the register system that night under the donation key.
                    </div>
                </th>
                <td>
                    @Html.EditorFor(x => x.PosiDonations)
                </td>
            </tr>

            <tr>
                <td>(Donations Taken on the Posi Register)</td>
                <td colspan="3"></td>
            </tr>
    </table>
    <br />

    <h3>4. Sales & Guest Count Contribution Calculation</h3>
    <table>
        <tr class="tableHeadings">
            <th colspan="5">Sales Contribution</th>
            <th colspan="3">Guest Count Contribution</th>
        </tr>
        <tr>
            <td>3 week ave</td>
            <td>Actual</td>
            <td>Difference</td>
            <td>Donation</td>
            <td>Sales Contribution</td>
            <td>3 week ave #</td>
            <td>Actual #</td>
            <td>GC Contribution</td>
        </tr>
         <tr>
                <td>
                    $@Html.DisplayFor(model => model.SalesContribution_3WeekAverage)
                </td>
                <td>
                    $@Html.DisplayFor(model => model.SalesContribution_Actual)
                </td>
                <td>
                    $@Html.DisplayFor(model => model.SalesContribution_Difference)
                </td>
                <td>
                    $@Html.DisplayFor(model => model.SalesContribution_Donation)
                </td>
                <td>
                    $@Html.DisplayFor(model => model.SalesContribution_SalesContribution)
                </td>
                <td>
                    $@Html.DisplayFor(model => model.GuestCountContribution_3WeekAverage)
                </td>
                <td>
                    $@Html.DisplayFor(model => model.GuestCountContribution_ActualNumber)
                </td>
                <td>
                    $@Html.DisplayFor(model => model.GuestCountContribution_GCCountribution)
                </td>
            </tr>
    </table>
    <br />

    <h3>5. Donation Check Request</h3>
   



        <table class="print_table display_form section5">
            <tr>
                <th colspan="3">Donation 10% Of Sales To GL7700</th>
                <td>
                    $@Html.DisplayFor(model => model.Donations10PercentOfSalesToGL7700)
                </td>
                <th>
                    GL Code 7700
                </th>
                <td>
                    @Html.DisplayFor(model => model.GLCode7700)
                </td>
            </tr>

            <tr>
                <th colspan="3">
                    Donations Taken On The Posi Register Code To GL 2005
                </th>
                <td>
                    @Html.DisplayFor(model => model.DonationsTakenOnThePosiRegisterCodeToGL2005)
                </td>
                <th>GL Code 2005</th>
                <td>@Html.DisplayFor(model => model.GLCode2005)</td>
            </tr>
            <tr>
                <th colspan="4">
                    Mail Partnership Check To The Checked Box Below:
                </th>
                <th>Total Donation For Check Request (10% of Sales, Including Other Donations)</th>
                <td>$@Html.DisplayFor(model => model.TotalDonation)</td>
            </tr>
            <tr>
                <td colspan="4">
                    @Html.EditorFor(x => x.MailPartnershipCheckToBV)
                </td>
                <th style="border-style:none;"></th>
                <th style="border-style:none;"></th>
            </tr>
            <tr>
                <td colspan="4">
                </td>
                <th style="border-style:none;"></th> <!--TODO: add in Charity name & address via viewbag -->
                <th style="border-style:none;"></th>
            </tr>
            </table>






        <br />
        <div>Is this form complete?</div>
        @Html.EditorFor(x => x.IsComplete)<br />
        <br />


    <input type="submit" name="button" value="Save" />

    @Html.ActionLink("Cancel and return to List", "Index")
}
   