@model IEnumerable<Capstone.WebUI.Models.ApplicationUser>

@{
    ViewBag.Title = "Users";
}

<h2>All Users</h2>
<p>@Html.ActionLink("Add a new user", "Register", "Account")</p>
<table class="table">

    <tr> <!--class="tableHeadings"-->
        <th>Name</th>
        <th>Username</th>
        <th>Role</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Store Number</th>
    </tr>


<!--<div class="backgroundTableColorTest">-->
@foreach (var item in Model) {
    <tr> <!--class="tableDataRow">-->
        <td>@Html.ActionLink(item.FirstName + " " + item.LastName, "UserEdit", "CRUD", new { item.Id }, null)</td>
        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
        <td>@Html.DisplayFor(modelItem => item.Role)</td>
        <td>@Html.DisplayFor(modelItem => item.Email)</td>
        <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
        <td>@Html.DisplayFor(modelItem => item.BvLocation.BvStoreNum)</td>
        <td>
            @using (Html.BeginForm("UserDelete", "CRUD", new { item.Id }))
            {
               <input type ="submit" value ="Delete" />
            }
        </td>
    </tr>
}
<!--</div>-->

</table>




